<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Researcher: {{ researcher.last_name }}, {{ researcher.name }}</title>
    <style>
      body {
        font-family: sans-serif;
        margin: 0;
        padding: 2rem;
      }
    </style>
  </head>
  <body>
    <h1>Researcher: {{ researcher.last_name }}, {{ researcher.name }}</h1>
    <p>Research Area: {{ researcher.research_area }}</p>
    <p>Research Center: {{ researcher.research_center }}</p>
    <p>Last Project Title: {{ researcher.last_project_title }}</p>
  </body>
</html>
